<DOCTYPE html>
    <html>
    <head>
        <title> Cartas Magic</title>
    </head>
    
        <h1>Cadastro de cartas</h1>
    
        <form method="post">
           Nome: <input type="text" value="" name="Nome"/>
           Edição: <input type="text" value="" name="Edição"/>
           Idioma: <input type="text" value="" name="Idioma"/>
           Foil: <input type="text" value="" name="Foil"/>
           Preço: <input type="number" step="0.01" value="" name="Preço"/>
           Quantidade: <input type="number" value="" name="Quantidade"/>
    
           <button type="submit">Enviar</button>
    
    </html>